# Ignore these files.
*.DS_Store # Mac OS X system file, similar to Desktop.ini on windows.
*.patch
*.pyc
*.pyo

*.sagews


# PyCharm stuff.
.idea

# Derived data.
css
js

# Non source code stuff.
/build
/dist
# Eventually the libraries we use will be committed into the repository.
# For now, we exclude then from git.
/lib
