@import (reference) "utilities.less";

// I let CodeMirror manage the input font family.
//@cell-input-font: @font-family-monospace;   // Used in CodeMirror.
@cell-output-font: @font-family-sans-serif; // Used in cell-output.

// Color variables
@cell-input-background: white;
@cell-output-background: @gray-lightest;
@document-background: white;
@content-container-background: @document-background;
@cell-separator-color: @gray-light;
@body-background: @gray-light;

// Document properties
@document-margins: 1in;
@document-margin-top: @document-margins;
@document-margin-left: @document-margins;
@document-margin-right: @document-margins;
@document-margin-bottom: @document-margins;
@document-width-total: 11in;
@document-width: @document-width-total - @document-margin-right - @document-margins;

// Cell properties
@cell-folder-control-border: solid 1px @cell-separator-color;

// Document stuff
body{
  background: @body-background;
}

// This contains the document.
.document-container{
  padding: none;
  margin-bottom: none;
  margin-top: none;
  margin-left: auto;
  margin-right: auto;
  width: @document-width-total;
  background: @document-background;

  box-shadow: 0px 0px 10px #000;
  border: solid 1px black;
}
// This IS the document.
.content-container{
  padding: none;
  margin-left: @document-margin-left;
  margin-right: @document-margin-right;
  margin-top: @document-margin-top;
  margin-bottom: @document-margin-bottom;
  width: @document-width;

  // Uncomment to see doc area extent.
  //border: dotted 1px @gray-light;

  background: @content-container-background;

}

// Cells
.cell{

  position: relative;

  //.hairline-shadow-border();

  padding-left: none;
  padding-top: 3px;
  margin-top: 0px;
  margin-bottom: 5px;

}

.cell-input{
  position: relative;

  padding: 15px;
  padding-left: none;
  padding-top: none;
  background-color: @cell-input-background;
}

.cell-output{
  position: relative;

  padding: 10px 15px;

  // Border / Background Stuff.

  background: @cell-output-background;
  /*
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  */
  .hairline-shadow-border();

  font-family: @cell-output-font;
}

.fold-control(){
  position: absolute;
  height: 100%;
  top: 0px;

  width: 10px;
  margin: none;
  padding: none;
  border-left: @cell-folder-control-border;
  border-right: none;
  border-top: @cell-folder-control-border;
  border-bottom: @cell-folder-control-border;
}

.fold-control-open{
  .fold-control();
  .fade-hover(0, 1);
}

.fold-control-closed{
  .fold-control();
  .fade-hover(.3, 1);
}

.fold-control-wrapper{
  // Needs no styling, apparently.
}

.fold-control-wrapper-closed{
  // Needs no styling, apparently.
}


.cell-fold-control{
  //.fold-control();
  left: -22px;
}

.cell-input-fold-control{
  //.fold-control();
  left: -10px;
}

.cell-output-fold-control{
  //.fold-control();
  left: -10px;
}

/*
  The cell separator is the thing between cells that a user can
  click on to insert a new cell.
*/
.cell-separator{
  .fade-hover(0, 1, 0s);

  padding: 0;
  margin: 0;
  height: 30px;
  width: 100%;

  border-top: solid 1px @cell-separator-color;
}

/*
  The "phantom" cell is the thing at the bottom of the worksheet
  to insert a new cell.
*/
.cell-new-phantom{
  .cell;
  .hairline-shadow-border;
  .fade-hover(0, 1);
}


// CodeMirror

//Editor properties
.CodeMirror{
  //font-family: @cell-input-font;
  font-size: 14pt;
  background: @cell-input-background;
}

//Gutter color and border properties
.CodeMirror-gutters{
  background: @cell-input-background;
  border-right: solid 1px @gray-lighter;
}

//Line numbering font properties
.CodeMirror-linenumber{
  font-size: 12pt;
  color: #c8c8c8;
}

//The following two blocks cause CodeMirror to automatically resize to fit its contents.
.CodeMirror {
  //border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
